@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.container {
	max-width: 1216.8px;

	text-align: center;

}

.x100 {flex: calc(100% - 32px) 0 0; margin: 16px;}
.x50 {flex: calc(50% - 32px) 0 0; margin: 16px;}
.x33 {flex: calc(33.3333% - 16px) 0 0; margin: 8px;}
/* header-wrapper */
.header-wrapper {
width: 100%;
	height: 100vh;
}

.header-wrapper .slider-stage {
width: 100%;
height: 100%;

}

.header-wrapper .slider-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	
}



.header-wrapper .slider-wrap .slider1 {
	background: url(../img/home1.jpg) no-repeat center;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.7s;
}

.header-wrapper .slider-wrap .slider2 {
	background: url(../img/home2.jpg) no-repeat center;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.7s;
}

.header-wrapper .top-wrap {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	transition: all 0.5s;
	z-index: 10;
	background-color: transparent;
}

.header-wrapper .logo-wrap {

	margin: 50px;
}

.header-wrapper .logo-wrap .logo {
	width: 250px;

}

.header-wrapper .navi-wrap {
	display: flex;
}

.header-wrapper .navi-wrap {
	color: #f8f8f8f8;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	padding-right: 50px;
	/* 	 width: 850px;  */
	height: 100px;
	font-family: 'Roboto', sans-serif;
}

.header-wrapper .navi-wrap .navi {

	width: 120px;
	height: 100px;
	text-align: center;
	line-height: 100px;
}

.header-wrapper .navi-wrap .navi:nth-child(1) {
	background-color: rgba(0, 0, 0, 0.8);
}

.header-wrapper .navi-wrap .navi>a {
	display: block;
}
.header-wrapper .top-wrap .bars-navi{
	display: none;
}
.header-wrapper .top-wrap .fas {
	color: #5aa4ac;
	font-size: 20px;
	text-align: center;
	line-height: 100px;
	display: none;
}

.header-wrapper .navi-wrap .navi:hover {
	background-color: rgba(0, 0, 0, 0.8);
	transition: all 0.8s;
}
.header-wrapper .navi-wrap .navi .sub-navi{
	display: none;
	height: 50px;
	text-align: center;
	line-height: 50px;

}

.header-wrapper .navi-wrap .navi>.sub-navi>.s-navi{

height: 100%;
}
.header-wrapper .navi-wrap .navi>.sub-navi>.s-navi>a{
	margin: 1px 0;
	width: 100%;
	height: 100%;
	display: block;
}
.header-wrapper .navi-wrap .navi:hover>.sub-navi>.s-navi>a{
	background-color: rgba(0, 0, 0, 0.568);
	transition: all 0.8s;
}
.header-wrapper .navi-wrap .navi>.sub-navi>.s-navi:hover>a{
	background-color: rgba(0, 0, 0, 0.795);
	transition: all 0.8s;
}

.header-wrapper .btn-prev, .header-wrapper .btn-next {
	font-size: 100px;
	color: #fff;
	text-shadow: 0 0 2vw rgba(0, 0, 0, 0.5);
	position: absolute;
	z-index: 9;
	top:40%;
	opacity: .1;
	transition: opacity 1s;
	cursor: pointer;
}

.header-wrapper .btn-prev {
	
}

.header-wrapper .btn-next {
	right: 0;
}

.header-wrapper .btn-prev:hover,
.header-wrapper .btn-next:hover {
	opacity: .7;
}

/* .slider-txt zzzzzz*/
.slider-txt1 {
	width: 100%;
	position: absolute;

	left: 0;
	top: 0;
}

.slider-txt1 .slider-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 300px;
	text-align: center;
	width: 100%;

	height: 300px;


}

.slider-txt1 .slider-title .title {

	font-size: 130px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

.slider-txt1 .slider-title .title-sub {
	margin-top: 12px;
	font-size: 30px;
	background-color: rgba(76, 169, 180, 0.4);
	display: block;

	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;


}

.slider-txt1 .slider-title .btn-wrap {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;

}

.slider-txt1 .slider-title .btn-wrap .btn {
	color: #e0e0e0;
	width: 100px;
	height: 35px;
	line-height: 1.8;
	border: 2px solid #e0e0e0;
	border-radius: 0%;
	font-weight: 700;
	margin: 0 10px;
	font-size: 11px;
	margin-top: 20px;
}

.slider-txt1 .slider-title .btn-wrap .btn:hover {
	color: #f8f8f8;
	transition: all 0.8s;
	border: 2px solid #f8f8f8;
}


.slider-txt2 {
	display: none;
	width: 100%;
	position: absolute;

	left: 0;
	top: 0;
}


.slider-txt2 .slider-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-top: 300px;
	text-align: center;
	width: 100%;

	height: 300px;


}

.slider-txt2 .slider-title .title {

	font-size: 130px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

.slider-txt2 .slider-title .title-sub {
	margin-top: 12px;
	font-size: 30px;
	background-color: rgba(76, 169, 180, 0.4);
	display: block;

	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;


}

.slider-txt2 .slider-title .btn-wrap {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: center;

}

.slider-txt2 .slider-title .btn-wrap .btn {
	color: #e0e0e0;
	width: 100px;
	height: 35px;
	line-height: 1.8;
	border: 2px solid #e0e0e0;
	border-radius: 0%;
	font-weight: 700;
	margin: 0 10px;
	font-size: 11px;
	margin-top: 20px;
}

.slider-txt2 .slider-title .btn-wrap .btn:hover {
	color: #f8f8f8;
	transition: all 0.8s;
	border: 2px solid #f8f8f8;
}


/* txt-wrapper */
.txt-wrapper {

	width: 100%;
	height: 350px;
	background-color: #141416;
	display: flex;
	justify-content: center;
	align-items: center;
}

.txt-wrapper .txt-wrap .container {
	text-align: center;

}

.txt-wrapper .txt-wrap img {
	margin: 12px 0;
}

.txt-wrapper .txt-wrap .title {
	font-size: 40px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

.txt-wrapper .txt-wrap .title2 {
	color: #f8f8f8;
}

.column-wrapper {
	width: 100%;

	background-color: #121212;
	display: flex;
	text-align: center;

}

.column-wrapper .txt-wrap {
	width: 50%;
	height: 450px;
	color: #f8f8f8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.column-wrapper .txt-wrap .title1 {
	margin-top: 15px;
	font-size: 40px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

.column-wrapper .txt-wrap .title2 {
	letter-spacing: 3px;
	margin: 12px 0;
}

.column-wrapper .txt-wrap .title3 {
	margin: 20px 0;
	line-height: 2;

}

.column-wrapper .txt-wrap .txt-btn {
	color: #cacaca;
	width: 140px;
	height: 50px;
	line-height: 45px;
	border: 2px solid #cacaca;
	border-radius: 0%;
	font-weight: 700;
	margin: 0 10px;
	font-size: 14px;
	text-align: center;

}

.column-wrapper .txt-wrap .txt-btn a {
	display: block;
}

.column-wrapper .txt-wrap .txt-btn:hover {
	border: 2px solid #f8f8f8;
	color: #f8f8f8;
	transition: all 0.8s;
}

.column-wrapper .column-wrap {
	width: 50%;
	height: 450px;
	background-image: url(../img/c-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}




.column-wrapper2 {
	width: 100%;

	background-color: #4ca8b3;
	display: flex;
	text-align: center;

}

.column-wrapper2 .txt-wrap2 {
	width: 50%;
	height: 450px;
	color: #f8f8f8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}

.column-wrapper2 .txt-wrap2 .title1 {
	margin-top: 15px;
	font-size: 40px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

.column-wrapper2 .txt-wrap2 .title2 {
	letter-spacing: 3px;
	margin: 12px 0;
	font-weight: 500;
}

.column-wrapper2 .txt-wrap2 .title3 {
	margin: 20px 0;
	line-height: 1.6;

}

.column-wrapper2 .txt-wrap2 .txt-btn {
	color: #cacaca;
	width: 140px;
	height: 50px;
	line-height: 45px;
	border: 2px solid #cacaca;
	border-radius: 0%;
	font-weight: 700;
	margin: 0 10px;
	font-size: 14px;
	text-align: center;

}

.column-wrapper2 .txt-wrap2 .txt-btn a {
	display: block;
}

.column-wrapper2 .txt-wrap2 .txt-btn:hover {
	border: 2px solid #f8f8f8;
	color: #f8f8f8;
	transition: all 0.8s;
}



.column-wrapper2 .column-wrap2 {
	width: 50%;
	height: 450px;
	background-image: url(../img/c-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.singup-wrapper {
	width: 100%;
	height: 550px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}

.singup-wrapper .singup-wrap {
	width: 100%;
	height: 100%;
	background: url(../img/singup.jpg) no-repeat left center;
	background-size: cover;


}

.singup-wrapper .con-box {
	position: absolute;
	display: flex;

	color: #f8f8f8;


	margin: 50px 0;
}

.singup-wrapper .con-box .txt-box1 {
	border: 10px solid #f8f8f8;
	width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 250px;
	margin-right: 5%;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;

	padding: 2rem;
}

.singup-wrapper .con-box .txt-box1>div {
	font-size: 40px;
	/* font-size: 2vw; */
	line-height: 1.2;
}

.singup-wrapper .con-box .txt-box2 {
	background-color: #489094;
	width: 20vw;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.singup-wrapper .con-box .txt-box2 .bts {
	color: #cacaca;
	width: 140px;
	height: 50px;
	line-height: 45px;
	border: 2px solid #cacaca;
	border-radius: 0%;
	font-weight: 700;
	margin: 0 10px;
	font-size: 14px;
	text-align: center;
}

.singup-wrapper .con-box .txt-box2 .bts a {
	display: block;
}

.singup-wrapper .con-box .txt-box2 .bts:hover {
	border: 2px solid #f8f8f8;
	color: #f8f8f8;

}

.Artist-wrapper {
	width: 100%;

	background-color: #121212;
}

.Artist-wrapper .Artist-wrap {
	width: 100%;
}

.Artist-wrapper ul {
	display: flex;
	align-items: center;
	color: #f8f8f8;

}

.Artist-wrapper ul li {
	width: 25%;
	margin-bottom: 100px
}

.Artist-wrapper ul li>img {
	width: 15em;
	height: 15em;
	margin: 20px;
}

.Artist-wrapper ul li h2 {
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
	font-size: 1.5rem;
	padding-bottom: 5px;
}

.Artist-wrapper ul li span {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 5px;
	font-size: 15px;
	;
}


.txt-wrapper3 {
	width: 100%;
	height: 250px;
	background-color: #121212;
	display: flex;
	justify-content: center;
	align-items: center;
}

.txt-wrapper3 .txt-wrap .container {
	text-align: center;

}

.txt-wrapper3 .txt-wrap img {
	margin: 12px 0;
}

.txt-wrapper3 .txt-wrap .title {
	font-size: 40px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

/* .piclink-wrapper */
.piclink-wrapper{width: 100%; background-color: #141416; display: flex;}
.piclink-wrapper .pic-l{width: 33.3333%;}
.piclink-wrapper .pic-r1{width: 33.3333%;}
.piclink-wrapper .pic-r2{width: 33.3333%;}
.piclink-wrapper .pic-l .pic{padding: 4px 8px 0px 0px}
.piclink-wrapper .pic-r1 .pic{padding: 4px 4px 4px 0px;}
.piclink-wrapper .pic-r2 .pic1{padding: 4px 0px 4px 4px;}
.piclink-wrapper .pic-r2 .pic2{padding: 4px 0px 4px 4px;}


.piclink-wrapper .pic-l .pic{ background-color: #4ca8b3;}
.piclink-wrapper .pic-l .pic>img{width: 100%;}
.piclink-wrapper .pic-r1 .pic>img{width: 100%;}
.piclink-wrapper .pic-r2 .pic1>img{width: 100%;}
.piclink-wrapper .pic-r2 .pic2>img{width: 100%;}

.piclink-wrapper .pic-l .pic>div{width: 100%; }
.piclink-wrapper .pic-r1 .pic>div{width: 100%;}
.piclink-wrapper .pic-r2 .pic1>div{width: 100%;}
.piclink-wrapper .pic-r2 .pic2>div{width: 100%;}

.gl-wrapper {
	width: 100%;
	height: 600px;
	background-color: #141416;
	
}
.gl-wrapper .gl-wrap{
	width: 100%;
	background-color: #141416;	
	text-align: center;
	padding-bottom: 100px;
}
.new-wrapper {
	width: 100%;

	background-color: #121212;
	display: flex;


}

.new-wrapper .title-wrapper {
	width: 50%;
	height: 750px;
	color: #f8f8f8;



}

.new-wrapper .title-wrapper .title-wrap1 {
	height: 270px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.new-wrapper .title-wrapper .title-wrap2 {
	height: 180px;
	display: flex;
	padding: 0 50px;

	/* 	justify-content: center;
	align-items: center;
	 */
}

.new-wrapper .title-wrapper .title1 {
	margin-top: 15px;
	font-size: 40px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

.new-wrapper .title-wrapper .title2 {

	letter-spacing: 3px;
	margin: 12px 0;
}

.new-wrapper .title-wrapper .title-wrap2 .box1 {}

.new-wrapper .title-wrapper .title-wrap2 .con {

	width: 150px;
	height: 130px;
	margin: 0 20px;
}

.new-wrapper .title-wrapper .title-wrap2 .con>img {
	width: 100%;
	height: 100%;

}

.new-wrapper .title-wrapper .title-wrap2 .box1 .s0 {
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
	font-size: 25px;
}
.new-wrapper .title-wrapper .title-wrap2 .box1 .s0:hover{
	cursor: pointer;
	color: #5aa4ac;
	transition: all 0.5s;
}
.new-wrapper .title-wrapper .title-wrap2 .box1 .s1 {
	font-size: 15px;
	padding-bottom: 15px;
}

.new-wrapper .title-wrapper .title-wrap2 .box1 .s2 {
	font-size: 15px;
	margin-bottom: 15px;
	line-height: 2;
}

.new-wrapper .news{width: 50%;
	height: 750px;
	color: #f8f8f8;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;}
.new-wrapper .news .new-wrap {


}
.new-wrapper .news .bg {
	background: url(../img/testimonials_bg1.jpg);
	width: 100%;
	height: 100%;
}


/* abso */
.new-wrapper .news .new-wrap .abso {
	position: absolute;
	transition:  all 0.5s;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.new-wrapper .news .new-wrap .abso .title-wrap1 {
	height: 220px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.new-wrapper .news .new-wrap .abso .title-wrap1 .title1 {
	margin-top: 15px;
	font-size: 40px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

.new-wrapper .news .new-wrap .abso .title-wrap1 .title2 {
	letter-spacing: 3px;
	margin: 12px 0;
}

.new-wrapper .news .new-wrap .abso .news-box1 {
	
}

.new-wrapper .news .new-wrap .abso .news-box1>img {

	border-radius: 50%;
	margin-bottom: 25px;
}

.new-wrapper .news .new-wrap .abso .news-box1 .txt {
	line-height: 1.5;
	font-size: 20px;
	padding: 0 50px ;
}

.new-wrapper .news .new-wrap .abso .news-box1 .txt>.stxt {
	display: block;
	padding: 25px 0;
}
.new-wrapper .news .new-wrap .abso .news-box1 .txt>.pager1{
	cursor: pointer;
	padding: 0 5px;
}
.new-wrapper .news .new-wrap .abso .news-box1 .txt>.pager2{
	cursor: pointer;
	padding: 0 5px;
}
.new-wrapper .new-wrap .abso .news-box1 .btn {}

.new-wrapper .new-wrap .abso .news-box1 .btn>span {}
.new-wrapper .new-wrap .news-box1 .pager {

}
/* .abso2*/
.new-wrapper .news .new-wrap .abso2 {
	position: absolute;
  opacity: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition:  all 0.5s;
}

.new-wrapper .news .new-wrap .abso2 .title-wrap1 {
	height: 220px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.new-wrapper .news .new-wrap .abso2 .title-wrap1 .title1 {
	margin-top: 15px;
	font-size: 40px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

.new-wrapper .news .new-wrap .abso2 .title-wrap1 .title2 {
	letter-spacing: 3px;
	margin: 12px 0;
}

.new-wrapper .news .new-wrap .abso2 .news-box1 {
	
}

.new-wrapper .news .new-wrap .abso2 .news-box1>img {

	border-radius: 50%;
	margin-bottom: 25px;
}

.new-wrapper .news .new-wrap .abso2 .news-box1 .txt {
	line-height: 1.5;
	font-size: 20px;
	padding: 0 50px ;
}

.new-wrapper .news .new-wrap .abso2 .news-box1 .txt>.stxt {
	display: block;
	padding: 25px 0;
}
.new-wrapper .news .new-wrap .abso2 .news-box1 .txt>.pager1{
	cursor: pointer;
	padding: 0 5px;
}

.new-wrapper .news .new-wrap .abso2 .news-box1 .txt>.pager2{
	cursor: pointer;
	padding: 0 5px;
}

.new-wrapper .new-wrap .abso2 .news-box1 .btn {}

.new-wrapper .new-wrap .abso2 .news-box1 .btn>span {}
.new-wrapper .new-wrap .news-box1 .pager {

}





.last {
	width: 100%;
	height: 400px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f8f8f8;
	background-color: #888;
}

.last .l-bg {
	background: url(../img/last.jpg) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.last .txt-wrap {
	width: 700px;
	height: 400px;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.last .txt-wrap .title {
	font-size: 40px;
	color: #f8f8f8;
	font-family: "Abril Fatface", Arial, Helvetica, sans-serif;
}

.last .txt-wrap .title2 {
	letter-spacing: 3px;
	margin: 12px 0;
}

.last .txt-wrap .txt-btn {
	color: #cacaca;
	width: 140px;
	height: 50px;
	line-height: 45px;
	border: 2px solid #cacaca;
	border-radius: 0%;
	font-weight: 700;
	margin: 0 10px;
	font-size: 14px;
	text-align: center;
	transition: all 0.7s;
	margin-top: 10px;
}

.last .txt-wrap .txt-btn:hover {
	border: 2px solid #f8f8f8;
	color: #f8f8f8;
}

footer {
	width: 100%;
	height: 160px;
	background-color: #121212;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .f-l {
	width: 600px;
	font-size: 13px;
	color: #f8f8f8;
	margin: 0 80px
}

footer .f-l>span {
	cursor: pointer;
	color: rgb(56, 196, 196);
}

footer .f-l>span>p {
	display: inline-block;
	color: #f8f8f8;
	padding: 0 5px;
}

footer .f-r {

	width: 200px;
}

footer .f-r ul {
	width: 100px;
	display: flex;
}

footer .f-r ul li {
	text-align: center;
}

footer .f-r ul li>i {
	width: 50px;
	height: 50px;
	background-color: #000000;
	line-height: 50px;
	color: #f8f8f8;
	margin: 0 5px;
}

footer .f-r ul li>i:nth-child(3) {
	margin: 0 0;
}


/**************** 반응형 ******************/

@media screen and (max-width: 1920px) {
	.header-wrapper .navi-wrap .fas {
		display: none;
	}
}

@media screen and (max-width: 1160px) {
	.Artist-wrapper ul li>img {
		width: 20vw;
		height: 20vw;
	}

	.gl-wrap>img {
		width: 95vw;
	}
}

.new-wrapper {
	width: 100%;
}

.new-wrapper .title-wrapper {}
@media screen and (max-width:1330px){
	.header-wrapper .navi-wrap {
		color: #f8f8f8f8;
		font-size: 14px;
		font-weight: 400;
		font-style: normal;
		padding-right: 50px;
		/* 	 width: 850px;  */
		height: 100px;
		font-family: 'Roboto', sans-serif;
	}
	
	.header-wrapper .navi-wrap .navi {
	
		width: 9vw;
		height: 100px;
		text-align: center;
		line-height: 100px;
	}
}

@media screen and (max-width: 1150px){

}

@media screen and (max-width: 1100px) {
	.header-wrapper .slider-wrap .slider1,
	.header-wrapper .slider-wrap .slider2{
		background-attachment: scroll;
	}
	.header-wrapper .top-wrap {
		background-color: #0c0c0c;
		height: 65px;
		width: 100%;
		/* display: flex;
		justify-content: space-between; */
	}

	.header-wrapper .logo-wrap {
		margin-left: 30px;
	}

	.header-wrapper .logo-wrap .logo {
		margin-bottom: 10px;
		margin-left: 0;
	}

	.header-wrapper  .top-wrap .navi {
		display: none;
	}
.top-wrap{
		position: relative;
	}
	.header-wrapper .top-wrap .fas {
		position: absolute;
		right: 50px;
	 display: block;
	 
	
	}
	.header-wrapper .top-wrap .bars-navi{
			display: none;
		position: absolute;
		top: 65px;
		background-color: #0c0c0c;
		
		width: 100%;
		
	}
	.header-wrapper .top-wrap .bars-navi>.b-navi{
		
		width: 100%;
		height: 50px;
		font-size: 13px;
		line-height: 50px;
		color: #f8f8f8;
		padding-left: 30px;
		border-bottom: 1px solid #a3a3a317;
	}
	.header-wrapper .top-wrap .bars-navi>.b-navi:nth-child(1){
		background-color:#5aa4ac;
	}
	.header-wrapper .top-wrap .bars-navi>.b-navi:hover{
		background-color:#5aa4ac;
	}
	.header-wrapper .btn-prev, .header-wrapper .btn-next{
		display: none;
	}
	.slider-txt1 .slider-title .title {
		font-size: 15vw;
	}

	.slider-txt2 .slider-title .title {
		font-size: 15vw;
	}

	.singup-wrapper .con-box .txt-box1 {
		width: 73vw;
	}




}





@media screen and (max-width: 1024px) {
	.column-wrapper {

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.column-wrapper .txt-wrap {
		width: 100%;
		height: 450px;

	}

	.column-wrapper2 {

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.column-wrapper2 .txt-wrap2 {
		width: 100%;
		height: 450px;

	}

	.column-wrapper .column-wrap {
		width: 100%;
	}

	.column-wrapper2 .column-wrap2 {
		width: 100%;
	}

	.Artist-wrapper ul {
		flex-wrap: wrap;
	}

	.Artist-wrapper ul li>img {
		width: 300px;
		height: 300px;
	}

	.Artist-wrapper ul li {
		width: 50%;
	}

	.Artist-wrapper ul li>div {
		margin: 10px 0 15px 0;
	}
	.new-wrapper {
		display: flex;
		flex-direction: column;
	}
	.new-wrapper .news{
		width: 100%;
		height: 750px;
	}
.new-wrapper .title-wrapper {
	width: 100%;
	height: 750px;
}

}

@media screen and (max-width: 916px){
	.piclink-wrapper{flex-wrap: wrap;}
.piclink-wrapper .pic-l{width: 50%;}
.piclink-wrapper .pic-r1{width: 50%;}
.piclink-wrapper .pic-r2{width: 100%; display: flex;}
.piclink-wrapper .pic-l .pic{padding: 4px 4px 0px 0px}
.piclink-wrapper .pic-r1 .pic{padding: 4px 0px 4px 4px;}
.piclink-wrapper .pic-r2 .pic1{padding: 4px 4px 4px 0px;}
.piclink-wrapper .pic-r2 .pic2{padding: 4px 0px 4px 4px;}
}
@media screen and (max-width: 799px) {
	.slider-txt .slider-title1 .title {}

	.Artist-wrapper ul li>img {
		width: 37vw;
		height: 37vw;
	}

	.last .txt-wrap .title {
		font-size: 5vw
	}
	footer{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	footer .f-l{
		padding-top: 30px;
	}
	footer .f-r {
		display: flex;
	
	justify-content: center;
		padding: 20px 0;

	}
}
@media screen and (max-width: 731px){
	.piclink-wrapper{flex-wrap: wrap;}
	.piclink-wrapper .pic-l{width: 100%;}
	.piclink-wrapper .pic-r1{width: 100%;}
	.piclink-wrapper .pic-r2{width: 100%; display: flex; flex-direction: column;}
	.piclink-wrapper .pic-l .pic{padding: 4px 0;}
	.piclink-wrapper .pic-r1 .pic{padding: 4px 0;}
	.piclink-wrapper .pic-r2 .pic1{padding: 4px 0;}
	.piclink-wrapper .pic-r2 .pic2{padding: 4px 0;}
	

}

@media screen and (max-width: 657px) {
	.singup-wrapper .con-box {
		flex-direction: column;
	}

	.singup-wrapper .con-box .txt-box2 {
		width: 73vw;
		height: 180px;
		margin-top: 30px;
	}

	.singup-wrapper .con-box .txt-box1>div {
		font-size: 7vw;
	}
}

@media screen and (max-width: 640px) {
	.Artist-wrapper ul {
		flex-wrap: wrap;
	}

	.Artist-wrapper ul li>img {
		width: 300px;
		height: 300px;
	}

	.Artist-wrapper ul li {
		width: 100%;
	}

	.Artist-wrapper ul li>div {
		margin: 10px 0 15px 0;
	}
}

@media screen and (max-width: 560px) {
	.slider-txt1 .slider-title .title {
		font-size: 60px;
	}

	.slider-txt .slider-title .title-sub {}
}